<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mix Helper - KAGA</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body id="app" @vue:mounted="update()">
    <div class="container">
        <div>
            <h3>BPM:</h3>
            <form action="##" onsubmit="return false">
                <label>
                    <input type="number" v-model="bpm" @input="update()" />
                </label>
            </form>
        </div>
        <hr />
        <div class="flex-container">
            <div class="flex-item">
                <h2>Compressor</h2>
                <h4>Release Time:</h4>
                <ul>
                    <li v-for="val in computed.compressor">{{val}} ms</li>
                </ul>
            </div>

            <div class="flex-item">
                <h2>Delay</h2>
                <ul>
                    <li v-for="val in computed.delay">
                        <span class="li-fixed">1/{{val[0]}}</span>
                        <span>{{val[1]}} ms</span>
                    </li>
                </ul>
            </div>

            <div class="flex-item">
                <h2>Reverb</h2>
                <h4>Pre-delay</h4>
                <span>Plate:</span>
                <ul>
                    <li v-for="val in computed.predelay.plate">{{val}} ms</li>
                </ul>
                <span>Room:</span>
                <ul>
                    <li v-for="val in computed.predelay.room">{{val}} ms</li>
                </ul>
                <span>Hall:</span>
                <ul>
                    <li v-for="val in computed.predelay.hall">{{val}} ms</li>
                </ul>

                <h4>Time</h4>
                <span>Room:</span>
                <ul>
                    <li v-for="val in computed.time.room">{{val}} ms</li>
                </ul>
                <span>Hall:</span>
                <ul>
                    <li v-for="val in computed.time.hall">{{val}} ms</li>
                </ul>
            </div>
        </div>
        <hr />
        <div>
            Author: Hana Yabuki <a href="https://github.com/HanaYabuki">@github</a>
            <a href="https://space.bilibili.com/496956009">@bilibili</a>
        </div>
    </div>

    <script src="/js/petite-vue.iife.min.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>